<!DOCTYPE html>
<html>
  <head>
    <title>Quiz, Qual é seu frevo?</title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/js/jquery-1.11.1.min.js"></script> 

  </head>
  	<body onload='$("#loading").css("visibility", "visible");jQuery("body").addClass("loading");$(location).attr("href", "<%=loading %>");'>
  	<div class="container-fluid batuta-container" id="question">
		<div class="row">
			<div class="col-md-6 col-sm-12">
				<img src="<%= img %>" class="img-responsive" alt="Responsive image">
		    	
			</div>

		<div class="col-md-6 col-sm-12">
			<div class="batuta-card" style="min-height:100px">
		    	<h1 class="frevo-title"><%= question %></h1>    	
		    </div> 

			<ul class="quiz-answer" >
				<% answers.forEach(function(answer){ %>
		<!-- 		<li><a class="btn btn-block btn-primary" href="#" role="button" id=1><%= answer %></a></li> -->
					<li><form action="/quiz" method="post">
						<input class="btn btn-primary" name=index type="hidden" value='<%= index %>'>
						<input class="btn btn-block btn-primary text-answer" name=resp type="submit" value='<%= answer %>'> 
					</form></li>

				<%})%>
			</ul>
	    	</div>
    	</div>
    </div>
  </body>
</html>
